.Registration {
    height: 100vh;
    display: flex;
}

.Registration .registration-form-container {
    width: 66%;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-color: #000;
    background-image: url("../Login/images/bg-auth.283ac044.jpg");
}
